<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sloty</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="https://cdn.jsdelivr.net/npm/web3@1.6.1/dist/web3.min.js"></script> <!-- Web3.js -->

    <script src="/static/js/script.js" defer></script>
</head>
<body>

<div id="container">
    <div class="window-border">
        <div class="window">
            <div class="outer-spacer"></div>
            <div class="outer-col">
                <div class="col"></div>
            </div>
            <div class="outer-spacer"></div>
            <div class="outer-col">
                <div class="col"></div>
            </div>
            <div class="outer-spacer"></div>
            <div class="outer-col">
                <div class="col"></div>
            </div>
            <div class="outer-spacer"></div>
            <div class="outer-col">
                <div class="col"></div>
            </div>
            <div class="outer-spacer"></div>
            <div class="outer-col">
                <div class="col"></div>
            </div>
            <div class="outer-spacer"></div>
        </div>
    </div>

    <input type="button" onclick="spin(this)" class="start-button" value="Spin"/>
</div>

</body>
</html>
